/* components/CardTemplate.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  width: 85vw;
  height: 85vh;
  background-color: #f7f7f7;
  // border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  border-radius: 30px;
}
