.tableContainer {
    // border: 1px solid black;
    // width: 80%;
    // margin: 50px auto;
    // border-radius: 20px;
   
    .lastvalue {
        width: 15%;
     
    }
}
.subtitle {
    margin: 0px;
    font-size: 8px;
}